<a href="https://colab.research.google.com/github/giuliamuscara/Kaggle-Titanic-Competition/blob/main/bsns_case_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
campaign_tasks_df = pd.read_csv("/content/campaign_tasks.csv")
customers_df = pd.read_csv("/content/customers.csv")
transactions_df = pd.read_csv("/content/transactions.csv")

In [7]:
customers_df.info()
customers_df.describe()
customers_df.head(6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        3500 non-null   object
 1   birth_year         3500 non-null   int64
 2   gender             3500 non-null   object
 3   country            3500 non-null   object
 4   registration_date  3500 non-null   object
 5   is_active          3500 non-null   int64
 6   marketing_consent  3500 non-null   int64
dtypes: int64(3), object(4)
memory usage: 191.5+ KB

,customer_id,birth_year,gender,country,registration_date,is_active,marketing_consent
0,CUST_00001,1988,Other,CN,2024-08-02,1,1
1,CUST_00002,2001,M,US,2021-08-17,1,1
2,CUST_00003,1978,M,CN,2021-02-21,1,1
3,CUST_00004,1964,F,DE,2022-07-18,1,1
4,CUST_00005,1992,F,JP,2022-05-17,0,1
5,CUST_00006,1957,F,FR,2022-04-03,1,1

In [8]:
# Analyze the customer dataframe
print("Number of unique customers:", customers_df['customer_id'].nunique())
print("\nDistribution of genders:")
display(customers_df['gender'].value_counts())
print("\nDistribution of countries:")
display(customers_df['country'].value_counts())
print("\nAge distribution:")
# Assuming 'birth_year' is available in customers_df
current_year = pd.to_datetime('now').year
customers_df['age'] = current_year - customers_df['birth_year']
print("Mean age:", customers_df['age'].mean())
print("Median age:", customers_df['age'].median())
print("Age range:", customers_df['age'].min(), "-", customers_df['age'].max())

Number of unique customers: 3500

Distribution of genders:

gender
M        1689
F        1688
Other     123
Name: count, dtype: int64

Distribution of countries:

country
IT    633
FR    617
CN    582
DE    569
JP    556
US    543
Name: count, dtype: int64

Age distribution:
Mean age: 47.864
Median age: 48.0
Age range: 21 - 75

In [5]:
transactions_df.info()
transactions_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       7000 non-null   object
 1   event_type        7000 non-null   object
 2   event_date        7000 non-null   object
 3   product_category  7000 non-null   object
 4   quantity          7000 non-null   int64
 5   net_sale_euro     7000 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 328.3+ KB

          quantity  net_sale_euro
count  7000.000000    7000.000000
mean      2.008429    1050.051063
std       1.016263     547.171330
min       1.000000     100.130000
25%       1.000000     574.535000
50%       2.000000    1053.500000
75%       3.000000    1517.317500
max       8.000000    1999.760000

In [9]:
# Analyze the transactions dataframe
print("Number of unique transactions:", transactions_df.shape[0])
print("\nDistribution of event types:")
display(transactions_df['event_type'].value_counts())
print("\nDistribution of product categories:")
display(transactions_df['product_category'].value_counts())
print("\nQuantity distribution:")
print("Mean quantity:", transactions_df['quantity'].mean())
print("Median quantity:", transactions_df['quantity'].median())
print("Quantity range:", transactions_df['quantity'].min(), "-", transactions_df['quantity'].max())
print("\nNet sale euro distribution:")
print("Mean net sale euro:", transactions_df['net_sale_euro'].mean())
print("Median net sale euro:", transactions_df['net_sale_euro'].median())
print("Net sale euro range:", transactions_df['net_sale_euro'].min(), "-", transactions_df['net_sale_euro'].max())

Number of unique transactions: 7000

Distribution of event types:

event_type
purchase    7000
Name: count, dtype: int64

Distribution of product categories:

product_category
slg        1444
textile    1410
bags       1408
rtw        1378
shoes      1360
Name: count, dtype: int64

Quantity distribution:
Mean quantity: 2.0084285714285715
Median quantity: 2.0
Quantity range: 1 - 8

Net sale euro distribution:
Mean net sale euro: 1050.0510628571428
Median net sale euro: 1053.5
Net sale euro range: 100.13 - 1999.76

In [10]:
# Analyze the campaign_tasks dataframe
print("Number of unique campaign tasks:", campaign_tasks_df.shape[0])
print("\nNumber of unique campaigns:", campaign_tasks_df['id_campaign'].nunique())
print("\nNumber of unique customers involved in campaigns:", campaign_tasks_df['customer_id'].nunique())
print("\nDistribution of campaign statuses:")
display(campaign_tasks_df['campaign_status'].value_counts())
print("\nDistribution of campaign channels:")
display(campaign_tasks_df['campaign_channel'].value_counts())
print("\nDistribution of activity subjects:")
display(campaign_tasks_df['activity_subject'].value_counts())
# Convert date columns to datetime objects
campaign_tasks_df['start_date'] = pd.to_datetime(campaign_tasks_df['start_date'])
campaign_tasks_df['end_date'] = pd.to_datetime(campaign_tasks_df['end_date'])
campaign_tasks_df['last_modified_date'] = pd.to_datetime(campaign_tasks_df['last_modified_date'])
print("\nCampaign duration distribution (in days):")
campaign_tasks_df['campaign_duration'] = (campaign_tasks_df['end_date'] - campaign_tasks_df['start_date']).dt.days
print("Mean duration:", campaign_tasks_df['campaign_duration'].mean())
print("Median duration:", campaign_tasks_df['campaign_duration'].median())
print("Duration range:", campaign_tasks_df['campaign_duration'].min(), "-", campaign_tasks_df['campaign_duration'].max())

Number of unique campaign tasks: 5000

Number of unique campaigns: 5000

Number of unique customers involved in campaigns: 2664

Distribution of campaign statuses:

campaign_status
Done      3423
Failed    1577
Name: count, dtype: int64

Distribution of campaign channels:

campaign_channel
sms       1303
email     1254
call      1241
letter    1202
Name: count, dtype: int64

Distribution of activity subjects:

activity_subject
Anniversary Campaign        683
Spring Collection Launch    640
Exclusive Preview           627
Loyalty Program Update      625
New Arrivals                618
Personalized Offer          617
Holiday Sale                600
VIP Re-engagement           590
Name: count, dtype: int64

Campaign duration distribution (in days):
Mean duration: 5.5354
Median duration: 6.0
Duration range: 1 - 10

In [14]:
# Get the list of customer_ids where is_active is 0
inactive_customer_ids = customers_df[customers_df['is_active'] == 0]['customer_id']
print("Number of inactive customers: ", len(inactive_customer_ids))

# Filter transactions_df
inactive_transactions_df = transactions_df[transactions_df['customer_id'].isin(inactive_customer_ids)]

# Filter campaign_tasks_df
inactive_campaign_tasks_df = campaign_tasks_df[campaign_tasks_df['customer_id'].isin(inactive_customer_ids)]

print("Transactions for inactive customers:")
display(inactive_transactions_df.shape)

print("\nCampaign tasks for inactive customers:")
display(inactive_campaign_tasks_df.shape)

Number of inactive customers:  1112
Transactions for inactive customers:

(952, 6)

Campaign tasks for inactive customers:

(1577, 9)

In [17]:
# Convert event_date to datetime objects
transactions_df['event_date'] = pd.to_datetime(transactions_df['event_date'])

# Create a dictionary of customer IDs and their transaction dates
customer_dates = transactions_df.groupby('customer_id')['event_date'].apply(list).to_dict()

# Display the first few entries of the dictionary to verify
for customer_id, dates in list(customer_dates.items())[:5]:
    print(f"Customer ID: {customer_id}")
    print(f"Transaction Dates: {dates}")

Customer ID: CUST_00001
Transaction Dates: [Timestamp('2024-12-16 00:00:00'), Timestamp('2024-08-17 00:00:00')]
Customer ID: CUST_00002
Transaction Dates: [Timestamp('2024-06-08 00:00:00'), Timestamp('2024-09-06 00:00:00'), Timestamp('2024-08-27 00:00:00')]
Customer ID: CUST_00003
Transaction Dates: [Timestamp('2024-08-13 00:00:00'), Timestamp('2024-12-12 00:00:00')]
Customer ID: CUST_00004
Transaction Dates: [Timestamp('2024-11-16 00:00:00')]
Customer ID: CUST_00006
Transaction Dates: [Timestamp('2024-06-30 00:00:00'), Timestamp('2024-10-02 00:00:00')]

In [21]:
from datetime import timedelta

count_customers_with_long_interval = 0

for customer_id, dates in customer_dates.items():
    if len(dates) > 1:
        #order dates from most recent to oldest timestamp
        dates.sort(reverse=True)
        prev_ts = dates[0]
        for ts in dates:
          if (prev_ts - ts) >= timedelta(days=120):
              count_customers_with_long_interval += 1
              break


print(f"Number of customers with transaction dates at least 120 days apart: {count_customers_with_long_interval}")
print("Probability that a customer will buy again after being inactive: ", count_customers_with_long_interval / len(customers_df['customer_id']))

Number of customers with transaction dates at least 120 days apart: 1334
Probability that a customer will buy again after being inactive:  0.3811428571428571